---
import BaseLayout from '../../layouts/BaseLayout.astro';
import FriendList from '../../components/FriendList.astro';
import { friends } from '../../pages/links/links'; // 导入友链数据
---

<BaseLayout>
  <div class='container'>
    <div class='w-full mb-10'>
      <h2 class="text-4xl font-bold mb-4">朋友们</h2>
      <FriendList friends={friends} />
    </div>
    <div class='w-full mb-10'>
      <h2 class="text-4xl font-bold mb-4">萌国备案</h2>
      <div class="flex justify-center items-center">
      <a href="https://travel.moe/go.html" 
        class="flex items-center gap-3 py-2 px-4 rounded-lg hover:bg-gray-100 transition-colors"
        title="异次元之旅-跃迁-我们一起去萌站成员的星球旅行吧！" 
        target="_blank">
        <img src="https://travel.moe/images/icon/icon64orange.png" 
        class="w-8 h-8" 
        alt="异次元之旅图标">
        <span class="text-lg">异次元之旅</span>
      </a>
      </div>
    </div>
    <div class='w-full mb-10'>
      <h2 class="text-4xl font-bold mb-4">我的友链信息</h2>
    </div>
    <pre>
      <code>
        {`name: "喵落阁",`}
        {`avatar: "https://cn.cravatar.com/avatar/7614B285E795F21E780247019C4E15C4?size=256",`}
        {'description: "愿你看清一切真相后，依旧热爱你的家人和朋友。",'}
        {'link: "https://blogs.kemiao.online"'}
      </code>
    </pre>
    <ul>
      <li>添加友链的唯一要求时: 不违法、不辱骂他人。</li>
    </ul>
  </div>
</BaseLayout>